# Python технічні файли
__pycache__/
*.py[cod]
*$py.class

# Віртуальне середовище
venv/
ENV/

# База даних (зазвичай її не закидають на гіт, щоб у кожного була своя)
db.sqlite3

# Налаштування VS Code
.vscode/
